$card-bg: rgba(255, 255, 255, 0.2);
$text-white: #fff;
$bg-color: #AF4949;
$btn-active-bg: rgba(0, 0, 0, 0.2);
$light-text: #EBEBEB;
$gray-text: #b0b0b0;
$black-text: #000;
$task-color: #A14343;
$color-placeholder: #DDDDDD;
$color-task: #555555;
$footer: #F6F6F6;
$save-btn: #45474B;
$hover-btn: #535356;
$counter-bg: #EFEFEF;
$icon-bg: #DFDFDF;
$icon-hover: #ECECEC;
$num-text: #AAAAAA;